################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDoApp/ToDoApp/obj/Debug/net5.0
/ToDoApp/ToDoApp/bin/Debug/net5.0
